- if @note
  %p
    Are you sure you want to delete the following note: 
    %strong= @note.content
    ?
  %form{:action => "/#{@note.id}", :method => "post"}
    %input{:type => "hidden", :name => "_method", :value => "delete"}
    %input{:type => "submit", :value => "Yes, delete it!"}
    %a{:href => "/#{@note.id}"} Cancel
- else
  %p
    Note not found.
