- if @note
  %form#edit{:action => "/#{@note.id}", :method => "post"}
    %input{:type => "hidden", :name => "_method", :value => "put"}
    %textarea{:name => "content"}=html_escape @note.content
    %input{:type => "checkbox", :name => "complete"}= "checked" if @note.complete
    %input#submit{:type => "submit"}
  %p
    %a{:href => "/#{@note.id}/delete"} Delete
- else
  %p
    Note not found.
